@reference "tailwindcss";

[data-slot='table'] {
  border-collapse: collapse;
}

[data-slot='table-header'] {
  border-bottom-width: 1px;
  border-bottom-color: var(--color-border);
}

[data-slot='table-body'] [data-slot='table-row']:last-child {
  border-bottom: none;
}

[data-slot='table-row'] {
  border-bottom-width: 1px;
  border-bottom-color: var(--color-border);
  transition-property: color, background-color;
  transition-duration: 150ms;
}

[data-slot='table-body'] [data-slot='table-row']:hover {
  background-color: var(--color-muted);
}

[data-slot='table-head'] {
  color: var(--color-muted-foreground);
}

[data-slot='table-caption'] {
  caption-side: bottom;
}
