@reference "tailwindcss";

[data-slot='separator-root'] {
  flex-shrink: 0;
  background-color: var(--color-border);
}

[data-slot='separator-root'][data-orientation='horizontal'] {
  @apply w-full;
  height: 1px;
}

[data-slot='separator-root'][data-orientation='vertical'] {
  width: 1px;
  @apply h-full;
}
